
        h1{
            color: blue;background-color: bisque;
        }
        .text{
            color: black;background-color: blueviolet;
        }
        .bg{
            color: blueviolet;background-color: aquamarine;
        }

